body {
  background-color: blanchedalmond;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 40px;
}

table {
  border-collapse: collapse;
  border-color: black;
  border-style: solid;
}
#viewList {
  border-style: solid;
  margin-right: 10px;
  padding-right: 27px;
}
td {
  padding-right: 50px;
}

button {
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.1s;
  color: dodgerblue;
}

button:hover {
  color: var(--button-hover);
  transform: scale(1.1);
  box-shadow: 0rem 0.1rem 0.2rem var(--shadow);
}
h1 {
  color: dodgerblue;
}

#newTask {
  margin-right: 10px;
}

#newNote {
  margin-right: 15px;
}

#addTaskButton {
  padding: 3px;
}

h2 {
  padding-bottom: 14px;
  padding-top: 20px;
  margin-left: 13px;
  font-size: 31;
  color: indigo;
}
.table-header {
  padding-bottom: 5px;
}

.is-completed {
  background-color: chocolate;
}

tr {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: solid 1px black;
}
